Source: golang-github-pkg-profile
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Félix Sipma <felix+debian@gueux.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://github.com/pkg/profile
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-pkg-profile.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/golang-github-pkg-profile.git
XS-Go-Import-Path: github.com/pkg/profile

Package: golang-github-pkg-profile-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple profiling for Go
 This package can be used for simple profiling. It provides several
 convenience package level values for cpu, memory, and block (contention)
 profiling.
